<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Profile Card UI Design</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
</head>

<body>
    <section class="main-content">
        <div class="container">
            <h1 class="text-center">Profile Card UI</h1>
            <br>
            <br>

            <div class="row">
                <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                    <div class="profile-card card rounded-lg shadow p-4 p-xl-5 mb-4 text-center position-relative overflow-hidden">
                        <div class="banner"></div>
                        <img src="{{data_extend.image.url}}" alt="" class="img-circle mx-auto mb-3">
                        <div class="text-center mb-4">
                          <h4 class="mb-2">{{data.username}}</h4>
                          <p class="mb-2">{{data.email}} </p>
                          <p class="mb-2"> {{data_extend.phone}}</p>
                      </div>
                            {%for link,key in socials.items%}       
                            {%if forloop.counter0  == 0  %} 
                                 <div class=" d-flex justify-content-start">
                                    <a href={{link}} class="fa fa-{{key}} mr-3"></a>

                            {%elif forloop.counter0  == 4 or forloop.counter0  == 8 %}
                                 </div>
                                 <div class=" d-flex justify-content-start">
                                    <a href="https:/{{link}}" class="fa fa-{{key}} mr-3"></a>
                 
                           {%else  %} 
                                  <a href="https:/{{link}}" class="fa fa-{{key}} mr-3"></a>
                           {% endif %}

                           {% endfor %}
                                 </div>
                    </div>
                </div>
            </div>

        </div>
    </section>


</body>

</html>