<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Profile Card UI Design</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
</head>

<body>
    <section class="main-content">
        <div class="container">
            <h1 class="text-center">Profile Card UI</h1>
            <br>
            <br>

            <div class="row">
                <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                    <div class="profile-card card rounded-lg shadow p-4 p-xl-5 mb-4 text-center position-relative overflow-hidden">
                        <div class="banner"></div>
                        <img src="{% static 'images/user1.jpg'%}" alt="" class="img-circle mx-auto mb-3">
                        <h3 class="mb-4">{{data.name}}</h3>
                        <div class="text-left mb-4">
                            <p class="mb-2"><i class="fa fa-envelope mr-2"></i> {{data.gmail}}</p>
                            <p class="mb-2"><i class="fa fa-phone mr-2"></i> {{data.phone}}</p>
                            <p class="mb-2"><i class="fa fa-globe mr-2"></i> kiranworkspace.com</p>
                            <p class="mb-2"><i class="fa fa-map-marker-alt mr-2"></i> Bangalore</p>
                        </div>
                           {% for i in data.images_set.all %}
                           
                           {%if forloop.counter0  == 0  %} 

                             <div class="social-links d-flex justify-content-start " style = 'padding-bottom: 10px;'>
                                 <a href="https:/{{i}}" class="mx-2"><img src="{{i.url}}" alt="guj"></a> 
                             
                          {%elif forloop.counter0  == 5 or forloop.counter0  == 9 %}
                                </div>
                                <div class="social-links d-flex justify-content-start " style = 'padding-bottom: 10px;'>
                                    <a href="https:/{{i.0}}" class="mx-2"><img src="{{i.1.url}}" alt="guj"></a> 
                                    
                            {%else  %} 
                                 <a href="https:/{{i.0}}" class="mx-2"><img src="{{i.1.url}}" alt="guj"></a> 
                            {% endif %}
                        
                            {% endfor %}
                     
                    
                    </div>
                </div>
            </div>

        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>